/.build/
/_build/
/Build
/blib

/carton.lock
/.carton/
/local/

nytprof.out
nytprof/

cover_db/

*.bak
*.old
*~
*.swp
*.o
*.obj

!LICENSE

MYMETA.*
!t/resource/MYMETA.json
!t/resource/mymeta_only/MYMETA.json

/App-pmdeps-*
